In [65]:
import pandas as pd
Covid_df = pd.read_csv('Covid_Death.csv')
Covid_df.head()

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,06/28/2023,01/01/2020,06/24/2023,AK,Aleutians East Borough,2013,Noncore,NaN,25,One or more data cells have counts between 1-9...
1,06/28/2023,01/01/2020,06/24/2023,AK,Anchorage Municipality,2020,Medium metro,775.0,8869,NaN
2,06/28/2023,01/01/2020,06/24/2023,AK,Bethel Census Area,2050,Noncore,40.0,395,NaN
3,06/28/2023,01/01/2020,06/24/2023,AK,Denali Borough,2068,Noncore,NaN,31,One or more data cells have counts between 1-9...
4,06/28/2023,01/01/2020,06/24/2023,AK,Dillingham Census Area,2070,Noncore,NaN,115,One or more data cells have counts between 1-9...

In [67]:
Covid_df = Covid_df[['Start Date', 'End Date', 'State', 'County name', 'Deaths from All Causes']]
Covid_df.head(50)

,Start Date,End Date,State,County name,Deaths from All Causes
0,01/01/2020,06/24/2023,AK,Aleutians East Borough,25
1,01/01/2020,06/24/2023,AK,Anchorage Municipality,8869
2,01/01/2020,06/24/2023,AK,Bethel Census Area,395
3,01/01/2020,06/24/2023,AK,Denali Borough,31
4,01/01/2020,06/24/2023,AK,Dillingham Census Area,115
5,01/01/2020,06/24/2023,AK,Fairbanks North Star Borough,2117
6,01/01/2020,06/24/2023,AK,Hoonah-Angoon Census Area,47
7,01/01/2020,06/24/2023,AK,Juneau City and Borough,658
8,01/01/2020,06/24/2023,AK,Kenai Peninsula Borough,1487
9,01/01/2020,06/24/2023,AK,Ketchikan Gateway Borough,365
10,01/01/2020,06/24/2023,AK,Kodiak Island Borough,238
11,01/01/2020,06/24/2023,AK,Matanuska-Susitna Borough,2624
12,01/01/2020,06/24/2023,AK,Nome Census Area,214
13,01/01/2020,06/24/2023,AK,North Slope Borough,140
14,01/01/2020,06/24/2023,AK,Northwest Arctic Borough,173
15,01/01/2020,06/24/2023,AK,Petersburg Census Area,81
16,01/01/2020,06/24/2023,AK,Prince of Wales-Hyder Census Area,155
17,01/01/2020,06/24/2023,AK,Sitka City and Borough,221
18,01/01/2020,06/24/2023,AK,Skagway Municipality,26
19,01/01/2020,06/24/2023,AK,Southeast Fairbanks Census Area,123
20,01/01/2020,06/24/2023,AK,Valdez-Cordova Census Area,176
21,01/01/2020,06/24/2023,AK,Wade Hampton Census Area,157
22,01/01/2020,06/24/2023,AK,Wrangell City and Borough,75
23,01/01/2020,06/24/2023,AK,Yukon-Koyukuk Census Area,138
24,01/01/2020,06/24/2023,AL,Autauga County,1811
25,01/01/2020,06/24/2023,AL,Baldwin County,8474
26,01/01/2020,06/24/2023,AL,Barbour County,970
27,01/01/2020,06/24/2023,AL,Bibb County,676
28,01/01/2020,06/24/2023,AL,Blount County,1830
29,01/01/2020,06/24/2023,AL,Bullock County,336
30,01/01/2020,06/24/2023,AL,Butler County,894
31,01/01/2020,06/24/2023,AL,Calhoun County,5896
32,01/01/2020,06/24/2023,AL,Chambers County,1183
33,01/01/2020,06/24/2023,AL,Cherokee County,981
34,01/01/2020,06/24/2023,AL,Chilton County,1372
35,01/01/2020,06/24/2023,AL,Choctaw County,439
36,01/01/2020,06/24/2023,AL,Clarke County,950
37,01/01/2020,06/24/2023,AL,Clay County,652
38,01/01/2020,06/24/2023,AL,Cleburne County,519
39,01/01/2020,06/24/2023,AL,Coffee County,1846
40,01/01/2020,06/24/2023,AL,Colbert County,2629
41,01/01/2020,06/24/2023,AL,Conecuh County,478
42,01/01/2020,06/24/2023,AL,Coosa County,317
43,01/01/2020,06/24/2023,AL,Covington County,2048
44,01/01/2020,06/24/2023,AL,Crenshaw County,631
45,01/01/2020,06/24/2023,AL,Cullman County,4040
46,01/01/2020,06/24/2023,AL,Dale County,1609
47,01/01/2020,06/24/2023,AL,Dallas County,1777
48,01/01/2020,06/24/2023,AL,DeKalb County,2694
49,01/01/2020,06/24/2023,AL,Elmore County,2389

In [69]:
import us

# Apply the lookup function to the 'State' column to get the full state names
Covid_df['State'] = Covid_df['State'].apply(lambda x: us.states.lookup(x).name if us.states.lookup(x) else x)

# Display the result
Covid_df.head()

,Start Date,End Date,State,County name,Deaths from All Causes
0,01/01/2020,06/24/2023,Alaska,Aleutians East Borough,25
1,01/01/2020,06/24/2023,Alaska,Anchorage Municipality,8869
2,01/01/2020,06/24/2023,Alaska,Bethel Census Area,395
3,01/01/2020,06/24/2023,Alaska,Denali Borough,31
4,01/01/2020,06/24/2023,Alaska,Dillingham Census Area,115

In [71]:
Pop_df = pd.read_csv('co-est2023-alldata.csv', encoding='ISO-8859-1')
Pop_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,...,RNATURALCHG2023,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RINTERNATIONALMIG2023,RDOMESTICMIG2021,RDOMESTICMIG2022,RDOMESTICMIG2023,RNETMIG2021,RNETMIG2022,RNETMIG2023
0,40,3,6,1,0,Alabama,Alabama,5024294,5031864,5050380,...,-0.306805,0.358254,0.864061,1.057514,5.497784,5.622917,6.038672,5.856038,6.486978,7.096186
1,50,3,6,1,1,Alabama,Autauga County,58809,58915,59203,...,1.549122,0.253983,0.369969,0.566346,4.097597,8.526095,8.178699,4.351581,8.896064,8.745044
2,50,3,6,1,3,Alabama,Baldwin County,231768,233227,239439,...,-0.435967,0.444288,1.028870,1.163912,29.500747,28.956520,27.213932,29.945035,29.985390,28.377843
3,50,3,6,1,5,Alabama,Barbour County,25229,24969,24533,...,-3.368165,0.000000,0.081246,0.527544,-12.645954,9.627689,-1.826113,-12.645954,9.708935,-1.298570
4,50,3,6,1,7,Alabama,Bibb County,22301,22188,22359,...,-2.280294,0.044896,0.045101,0.045606,11.403686,-13.665577,-3.146805,11.448582,-13.620476,-3.101199

In [73]:
Pop_df = Pop_df[['STNAME','CTYNAME','POPESTIMATE2023']]
Pop_df.head(20)

     STNAME          CTYNAME  POPESTIMATE2023
0   Alabama          Alabama          5108468
1   Alabama   Autauga County            60342
2   Alabama   Baldwin County           253507
3   Alabama   Barbour County            24585
4   Alabama      Bibb County            21868
5   Alabama    Blount County            59816
6   Alabama   Bullock County             9897
7   Alabama    Butler County            18382
8   Alabama   Calhoun County           116429
9   Alabama  Chambers County            34079
10  Alabama  Cherokee County            25666
11  Alabama   Chilton County            46431
12  Alabama   Choctaw County            12252
13  Alabama    Clarke County            22337
14  Alabama      Clay County            14111
15  Alabama  Cleburne County            15639
16  Alabama    Coffee County            55643
17  Alabama   Colbert County            58361
18  Alabama   Conecuh County            11174
19  Alabama     Coosa County            10268

In [75]:
Org_Pop_df = []
for i, row in Pop_df.iterrows():
    if row['STNAME'] != row['CTYNAME']:
        Org_Pop_df.append(row)

In [77]:
Org_Pop_df = pd.DataFrame(Org_Pop_df)
Org_Pop_df.head()

    STNAME         CTYNAME  POPESTIMATE2023
1  Alabama  Autauga County            60342
2  Alabama  Baldwin County           253507
3  Alabama  Barbour County            24585
4  Alabama     Bibb County            21868
5  Alabama   Blount County            59816

In [79]:
Org_Pop_df['CTYNAME'].value_counts()

CTYNAME
Washington County          30
Jefferson County           25
Franklin County            24
Lincoln County             23
Jackson County             23
                           ..
West Feliciana Parish       1
West Carroll Parish         1
West Baton Rouge Parish     1
Webster Parish              1
Weston County               1
Name: count, Length: 1881, dtype: int64

In [81]:
Org_Pop_df.rename(columns={'STNAME': 'State','CTYNAME':'County name'}, inplace=True)
Org_Pop_df

        State        County name  POPESTIMATE2023
1     Alabama     Autauga County            60342
2     Alabama     Baldwin County           253507
3     Alabama     Barbour County            24585
4     Alabama        Bibb County            21868
5     Alabama      Blount County            59816
...       ...                ...              ...
3190  Wyoming  Sweetwater County            41249
3191  Wyoming       Teton County            23232
3192  Wyoming       Uinta County            20745
3193  Wyoming    Washakie County             7710
3194  Wyoming      Weston County             6808

[3143 rows x 3 columns]

In [91]:
merged_df = pd.merge(Covid_df, Org_Pop_df, on=['County name', 'State'], how='inner')
merged_df.rename(columns={'Start Date':'Covid Deaths Start Date', 'End Date':'Covid Deaths End Date', 'POPESTIMATE2023':'Population 2023'}, inplace=True)
merged_df

,Covid Deaths Start Date,Covid Deaths End Date,State,County name,Deaths from All Causes,Population 2023
0,01/01/2020,06/24/2023,Alaska,Aleutians East Borough,25,3461
1,01/01/2020,06/24/2023,Alaska,Anchorage Municipality,8869,286075
2,01/01/2020,06/24/2023,Alaska,Bethel Census Area,395,18224
3,01/01/2020,06/24/2023,Alaska,Denali Borough,31,1584
4,01/01/2020,06/24/2023,Alaska,Dillingham Census Area,115,4607
...,...,...,...,...,...,...
3068,01/01/2020,06/24/2023,Wyoming,Sweetwater County,1187,41249
3069,01/01/2020,06/24/2023,Wyoming,Teton County,326,23232
3070,01/01/2020,06/24/2023,Wyoming,Uinta County,522,20745
3071,01/01/2020,06/24/2023,Wyoming,Washakie County,285,7710
3072,01/01/2020,06/24/2023,Wyoming,Weston County,239,6808

In [97]:
merged_df['Death Per 100k'] = merged_df['Deaths from All Causes'] / merged_df['Population 2023'] * 100000

merged_df

,Covid Deaths Start Date,Covid Deaths End Date,State,County name,Deaths from All Causes,Population 2023,Death Per 100k
0,01/01/2020,06/24/2023,Alaska,Aleutians East Borough,25,3461,722.334585
1,01/01/2020,06/24/2023,Alaska,Anchorage Municipality,8869,286075,3100.235952
2,01/01/2020,06/24/2023,Alaska,Bethel Census Area,395,18224,2167.471466
3,01/01/2020,06/24/2023,Alaska,Denali Borough,31,1584,1957.070707
4,01/01/2020,06/24/2023,Alaska,Dillingham Census Area,115,4607,2496.201433
...,...,...,...,...,...,...,...
3068,01/01/2020,06/24/2023,Wyoming,Sweetwater County,1187,41249,2877.645519
3069,01/01/2020,06/24/2023,Wyoming,Teton County,326,23232,1403.236915
3070,01/01/2020,06/24/2023,Wyoming,Uinta County,522,20745,2516.268980
3071,01/01/2020,06/24/2023,Wyoming,Washakie County,285,7710,3696.498054
3072,01/01/2020,06/24/2023,Wyoming,Weston County,239,6808,3510.575793