In [146]:
import pandas as pd

In [148]:
ML_Data = pd.read_csv('ML_file.csv')
Age = pd.read_csv('cc-est2023-agesex-all.csv', encoding='ISO-8859-1')

In [150]:
Age = Age.loc[Age['YEAR'] == 5]
Age.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME', 'YEAR', 'POPESTIMATE',
       'POPEST_MALE', 'POPEST_FEM', 'UNDER5_TOT', 'UNDER5_MALE', 'UNDER5_FEM',
       'AGE513_TOT', 'AGE513_MALE', 'AGE513_FEM', 'AGE1417_TOT',
       'AGE1417_MALE', 'AGE1417_FEM', 'AGE1824_TOT', 'AGE1824_MALE',
       'AGE1824_FEM', 'AGE16PLUS_TOT', 'AGE16PLUS_MALE', 'AGE16PLUS_FEM',
       'AGE18PLUS_TOT', 'AGE18PLUS_MALE', 'AGE18PLUS_FEM', 'AGE1544_TOT',
       'AGE1544_MALE', 'AGE1544_FEM', 'AGE2544_TOT', 'AGE2544_MALE',
       'AGE2544_FEM', 'AGE4564_TOT', 'AGE4564_MALE', 'AGE4564_FEM',
       'AGE65PLUS_TOT', 'AGE65PLUS_MALE', 'AGE65PLUS_FEM', 'AGE04_TOT',
       'AGE04_MALE', 'AGE04_FEM', 'AGE59_TOT', 'AGE59_MALE', 'AGE59_FEM',
       'AGE1014_TOT', 'AGE1014_MALE', 'AGE1014_FEM', 'AGE1519_TOT',
       'AGE1519_MALE', 'AGE1519_FEM', 'AGE2024_TOT', 'AGE2024_MALE',
       'AGE2024_FEM', 'AGE2529_TOT', 'AGE2529_MALE', 'AGE2529_FEM',
       'AGE3034_TOT', 'AGE3034_MALE', 'AGE3034_FEM', 'AGE3539_TOT',
       'AGE3539_MALE', 'AGE3539_FEM', 'AGE4044_TOT', 'AGE4044_MALE',
       'AGE4044_FEM', 'AGE4549_TOT', 'AGE4549_MALE', 'AGE4549_FEM',
       'AGE5054_TOT', 'AGE5054_MALE', 'AGE5054_FEM', 'AGE5559_TOT',
       'AGE5559_MALE', 'AGE5559_FEM', 'AGE6064_TOT', 'AGE6064_MALE',
       'AGE6064_FEM', 'AGE6569_TOT', 'AGE6569_MALE', 'AGE6569_FEM',
       'AGE7074_TOT', 'AGE7074_MALE', 'AGE7074_FEM', 'AGE7579_TOT',
       'AGE7579_MALE', 'AGE7579_FEM', 'AGE8084_TOT', 'AGE8084_MALE',
       'AGE8084_FEM', 'AGE85PLUS_TOT', 'AGE85PLUS_MALE', 'AGE85PLUS_FEM',
       'MEDIAN_AGE_TOT', 'MEDIAN_AGE_MALE', 'MEDIAN_AGE_FEM'],
      dtype='object')

In [152]:
Age = Age[['STNAME','CTYNAME','POPESTIMATE','UNDER5_TOT','AGE6569_TOT','AGE7074_TOT', 'AGE7579_TOT', 'AGE8084_TOT', 'AGE85PLUS_TOT','MEDIAN_AGE_TOT']]
Age

,STNAME,CTYNAME,POPESTIMATE,UNDER5_TOT,AGE6569_TOT,AGE7074_TOT,AGE7579_TOT,AGE8084_TOT,AGE85PLUS_TOT,MEDIAN_AGE_TOT
4,Alabama,Autauga County,60342,3617,3239,2544,2004,1304,1036,39.5
9,Alabama,Baldwin County,253507,12860,18006,14899,11514,6657,4847,44.2
14,Alabama,Barbour County,24585,1307,1449,1364,1091,629,527,41.5
19,Alabama,Bibb County,21868,1167,1227,1012,834,504,422,41.2
24,Alabama,Blount County,59816,3493,3543,2985,2389,1379,1185,41.2
...,...,...,...,...,...,...,...,...,...,...
15699,Wyoming,Sweetwater County,41249,2285,2431,1786,1135,611,500,38.2
15704,Wyoming,Teton County,23232,987,1444,1180,841,479,360,41.8
15709,Wyoming,Uinta County,20745,1183,1404,1037,620,360,295,38.6
15714,Wyoming,Washakie County,7710,341,578,482,338,255,239,45.3
15719,Wyoming,Weston County,6808,284,574,437,271,130,173,44.8

In [154]:
Age['65 plus per 100k'] = ((Age['AGE6569_TOT']+Age['AGE7074_TOT']+Age['AGE7579_TOT']+Age['AGE8084_TOT']+Age['AGE85PLUS_TOT']) / Age['POPESTIMATE']) * 100000
Age['5 Under per 100k'] = (Age['UNDER5_TOT'] / Age['POPESTIMATE']) * 100000
Age = Age[['STNAME','CTYNAME','65 plus per 100k','5 Under per 100k' ]]
Age = Age.rename(columns={'STNAME': 'State', 'CTYNAME': 'County'})
Age

         State             County  65 plus per 100k  5 Under per 100k
4      Alabama     Autauga County      16782.672102       5994.166584
9      Alabama     Baldwin County      22059.745885       5072.838225
14     Alabama     Barbour County      20581.655481       5316.249746
19     Alabama        Bibb County      18286.994695       5336.564844
24     Alabama      Blount County      19193.861174       5839.574696
...        ...                ...               ...               ...
15699  Wyoming  Sweetwater County      15668.258624       5539.528231
15704  Wyoming       Teton County      18526.170799       4248.450413
15709  Wyoming       Uinta County      17912.750060       5702.578935
15714  Wyoming    Washakie County      24539.559014       4422.827497
15719  Wyoming      Weston County      23281.433608       4171.562867

[3144 rows x 4 columns]

In [156]:
merged_df = pd.merge(ML_Data, Age, on=['State', 'County'], how='left')
merged_df

,County,State,Administered_Dose_Count,Death Per 100k,Avg Temp (F),Max Temp (F),Min Temp (F),Population Estimate,Administered Dose Per 100k,65 plus per 100k,5 Under per 100k
0,Abbeville County,South Carolina,11411.0,3139.068511,63.3,74.5,52.2,24434.0,46701.317836,23291.315380,4808.872882
1,Acadia Parish,Louisiana,37515.0,3917.576873,70.9,81.2,60.6,56489.0,66411.159695,16955.513463,6898.688240
2,Accomack County,Virginia,28028.0,4867.775806,60.1,69.1,51.1,33239.0,84322.633052,26757.724360,5138.542074
3,Ada County,Idaho,362247.0,3086.493873,52.0,63.8,40.3,524673.0,69042.432143,16779.212957,4952.417982
4,Adair County,Iowa,3907.0,4547.300041,51.2,62.7,39.7,7389.0,52875.896603,22980.105562,6239.003925
...,...,...,...,...,...,...,...,...,...,...,...
2931,Yuma County,Arizona,250626.0,3491.213342,72.8,86.9,58.6,213221.0,117542.831147,21012.470629,6621.768025
2932,Yuma County,Colorado,5101.0,3092.678970,51.2,64.8,37.6,9862.0,51723.788278,18657.473129,6976.272561
2933,Zapata County,Texas,10239.0,1274.024461,76.7,88.2,65.2,13736.0,74541.351194,13511.939429,7069.015725
2934,Zavala County,Texas,7305.0,1814.862543,73.6,85.9,61.4,9312.0,78447.164948,14712.199313,7882.302405
2935,Ziebach County,South Dakota,1246.0,6761.412575,47.1,59.5,34.5,2322.0,53660.637382,11541.774332,6976.744186

In [163]:
merged_df.to_csv('ML_data_Age.csv', index=False)