In [1]:
import pandas as pd

# Load each CSV file into a separate DataFrame
df_avg = pd.read_csv('average_weather_data_2022.csv')
df_max = pd.read_csv('max_weather_data_2022.csv')
df_min = pd.read_csv('min_weather_data_2022.csv')

df_avg.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,65.1,1.2,108.0,63.9,NaN
1,AL-003,Baldwin County,Alabama,68.4,1.6,118.0,66.8,NaN
2,AL-005,Barbour County,Alabama,65.4,0.6,97.0,64.8,NaN
3,AL-007,Bibb County,Alabama,63.6,0.8,97.0,62.7,NaN
4,AL-009,Blount County,Alabama,62.2,1.5,111.0,60.6,NaN

In [2]:
df_avg = df_avg.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_avg = df_avg.rename(columns={'Value': 'Avg 2022'})
df_avg.head()

             Name    State Avg 2022
0  Autauga County  Alabama     65.1
1  Baldwin County  Alabama     68.4
2  Barbour County  Alabama     65.4
3     Bibb County  Alabama     63.6
4   Blount County  Alabama     62.2

In [3]:
df_max.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,77.2,1.5,111.0,75.7,NaN
1,AL-003,Baldwin County,Alabama,78.9,1.6,116.0,77.3,NaN
2,AL-005,Barbour County,Alabama,77.1,0.6,92.0,76.4,NaN
3,AL-007,Bibb County,Alabama,75.6,0.8,92.0,74.8,NaN
4,AL-009,Blount County,Alabama,72.5,-0.2,57.0,72.7,NaN

In [4]:
df_max = df_max.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_max = df_max.rename(columns={'Value': 'Max 2022'})
df_max.head()

             Name    State Max 2022
0  Autauga County  Alabama     77.2
1  Baldwin County  Alabama     78.9
2  Barbour County  Alabama     77.1
3     Bibb County  Alabama     75.6
4   Blount County  Alabama     72.5

In [5]:
df_min.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,53.1,0.9,94.0,52.1,NaN
1,AL-003,Baldwin County,Alabama,57.8,1.6,112.0,56.2,NaN
2,AL-005,Barbour County,Alabama,53.7,0.6,91.0,53.1,NaN
3,AL-007,Bibb County,Alabama,51.5,0.8,93.0,50.7,NaN
4,AL-009,Blount County,Alabama,51.8,3.2,119.0,48.5,NaN

In [6]:
df_min = df_min.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_min = df_min.rename(columns={'Value': 'Min 2022'})
df_min.head()

             Name    State Min 2022
0  Autauga County  Alabama     53.1
1  Baldwin County  Alabama     57.8
2  Barbour County  Alabama     53.7
3     Bibb County  Alabama     51.5
4   Blount County  Alabama     51.8

In [8]:
# Combine the DataFrames column-wise
combined_df = pd.concat([df_avg, df_max, df_min], axis=1)
combined_df.head()

,Name,State,Avg 2022,Name,State,Max 2022,Name,State,Min 2022
0,Autauga County,Alabama,65.1,Autauga County,Alabama,77.2,Autauga County,Alabama,53.1
1,Baldwin County,Alabama,68.4,Baldwin County,Alabama,78.9,Baldwin County,Alabama,57.8
2,Barbour County,Alabama,65.4,Barbour County,Alabama,77.1,Barbour County,Alabama,53.7
3,Bibb County,Alabama,63.6,Bibb County,Alabama,75.6,Bibb County,Alabama,51.5
4,Blount County,Alabama,62.2,Blount County,Alabama,72.5,Blount County,Alabama,51.8

In [9]:
# Select only the first occurrence of "Name", "State", and the "Avg 2020", "Max 2020", and "Min 2020" columns
counties_2022 = combined_df.loc[:, ~combined_df.columns.duplicated()]
counties_2022.head()

             Name    State Avg 2022 Max 2022 Min 2022
0  Autauga County  Alabama     65.1     77.2     53.1
1  Baldwin County  Alabama     68.4     78.9     57.8
2  Barbour County  Alabama     65.4     77.1     53.7
3     Bibb County  Alabama     63.6     75.6     51.5
4   Blount County  Alabama     62.2     72.5     51.8

In [10]:
counties_2022.to_csv('counties_2022.csv', index=False)