In [1]:
import pandas as pd

# Load each CSV file into a separate DataFrame
df_avg = pd.read_csv('average_weather_data_2023.csv')
df_max = pd.read_csv('max_weather_data_2023.csv')
df_min = pd.read_csv('min_weather_data_2023.csv')

df_avg.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,66.4,2.4,126.0,63.9,NaN
1,AL-003,Baldwin County,Alabama,69.8,3.0,129.0,66.8,NaN
2,AL-005,Barbour County,Alabama,66.7,1.9,121.0,64.8,NaN
3,AL-007,Bibb County,Alabama,64.7,1.9,122.0,62.7,NaN
4,AL-009,Blount County,Alabama,63.3,2.6,125.0,60.6,NaN

In [2]:
df_avg = df_avg.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_avg = df_avg.rename(columns={'Value': 'Avg 2023'})
df_avg.head()

             Name    State Avg 2023
0  Autauga County  Alabama     66.4
1  Baldwin County  Alabama     69.8
2  Barbour County  Alabama     66.7
3     Bibb County  Alabama     64.7
4   Blount County  Alabama     63.3

In [3]:
df_max.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,78.1,2.4,124.0,75.7,NaN
1,AL-003,Baldwin County,Alabama,80.2,2.9,129.0,77.3,NaN
2,AL-005,Barbour County,Alabama,77.8,1.4,115.0,76.4,NaN
3,AL-007,Bibb County,Alabama,76.6,1.8,117.0,74.8,NaN
4,AL-009,Blount County,Alabama,73.8,1.1,103.0,72.7,NaN

In [4]:
df_max = df_max.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_max = df_max.rename(columns={'Value': 'Max 2023'})
df_max.head()

             Name    State Max 2023
0  Autauga County  Alabama     78.1
1  Baldwin County  Alabama     80.2
2  Barbour County  Alabama     77.8
3     Bibb County  Alabama     76.6
4   Blount County  Alabama     73.8

In [5]:
df_min.head()

,ID,Name,State,Value,Anomaly (1901-2000 base period),Rank,1901-2000 Mean,Unnamed: 7
0,AL-001,Autauga County,Alabama,54.6,2.5,124.0,52.1,NaN
1,AL-003,Baldwin County,Alabama,59.4,3.2,129.0,56.2,NaN
2,AL-005,Barbour County,Alabama,55.6,2.4,127.0,53.1,NaN
3,AL-007,Bibb County,Alabama,52.8,2.1,123.0,50.7,NaN
4,AL-009,Blount County,Alabama,52.7,4.2,125.0,48.5,NaN

In [6]:
df_min = df_min.drop(columns=['ID', 'Anomaly (1901-2000 base period)', 'Rank', '1901-2000 Mean', 'Unnamed: 7'], errors='ignore')
df_min = df_min.rename(columns={'Value': 'Min 2023'})
df_min.head()

             Name    State Min 2023
0  Autauga County  Alabama     54.6
1  Baldwin County  Alabama     59.4
2  Barbour County  Alabama     55.6
3     Bibb County  Alabama     52.8
4   Blount County  Alabama     52.7

In [7]:
# Combine the DataFrames column-wise
combined_df = pd.concat([df_avg, df_max, df_min], axis=1)
combined_df.head()

,Name,State,Avg 2023,Name,State,Max 2023,Name,State,Min 2023
0,Autauga County,Alabama,66.4,Autauga County,Alabama,78.1,Autauga County,Alabama,54.6
1,Baldwin County,Alabama,69.8,Baldwin County,Alabama,80.2,Baldwin County,Alabama,59.4
2,Barbour County,Alabama,66.7,Barbour County,Alabama,77.8,Barbour County,Alabama,55.6
3,Bibb County,Alabama,64.7,Bibb County,Alabama,76.6,Bibb County,Alabama,52.8
4,Blount County,Alabama,63.3,Blount County,Alabama,73.8,Blount County,Alabama,52.7

In [8]:
# Select only the first occurrence of "Name", "State", and the "Avg 2020", "Max 2020", and "Min 2020" columns
counties_2023 = combined_df.loc[:, ~combined_df.columns.duplicated()]
counties_2023.head()

             Name    State Avg 2023 Max 2023 Min 2023
0  Autauga County  Alabama     66.4     78.1     54.6
1  Baldwin County  Alabama     69.8     80.2     59.4
2  Barbour County  Alabama     66.7     77.8     55.6
3     Bibb County  Alabama     64.7     76.6     52.8
4   Blount County  Alabama     63.3     73.8     52.7

In [9]:
counties_2023.to_csv('counties_2023.csv', index=False)